@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');


.itemContainer{
    display: flex;
    align-items: center;
    display: block;
    width: 350px;
    border: 1px solid black;
}

.itemContainer p {
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
}

.fotoItem img{
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
}

.precio{
    background-color: blue;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Sofia Sans', sans-serif;
}